/* colors*/
/* breakpoints*/
/* 480   small*/
/* 768   medium*/
/* 992   xmedium*/
/* 1024  large*/
/* 1280  xlarge*/
/* 1440  xxlarge*/
/* 1920  big*/
/* links*/
/* flex mixes*/
/* default transitions */
/* shadows */
section.hero {
  overflow: hidden;
}
section.hero .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
section.hero .container .hero__left .hero__precapt {
  font-weight: 900;
  font-size: 16px;
  text-align: center;
}
section.hero .container .hero__left h1 {
  text-align: center;
}
section.hero .container .hero__left p {
  color: #000;
  font-size: 14px;
  line-height: 18px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  padding: 10px;
}
section.hero .container .hero__left .hero__props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
}
section.hero .container .hero__left .hero__props .prop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2px;
}
section.hero .container .hero__left .hero__props .prop .prop__number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  color: #000;
}
section.hero .container .hero__left .hero__props .prop .prop__number span {
  color: #ca4e5d;
}
section.hero .container .hero__left .hero__props .prop h3 {
  margin: 0;
  font-weight: 900;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 84px);
  flex: 0 0 calc(100% - 84px);
}
section.hero .container .hero__left .hero__props .prop > span {
  font-size: 1.3rem;
  color: #000;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
section.hero .container .hero__left .hero__props .prop > span > span {
  font-weight: 900;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
section.hero .container .hero__right picture {
  width: calc(100% + 2rem);
  position: relative;
  left: -1rem;
}
section.hero .container .hero__right picture img {
  max-width: unset;
}
@media (min-width: 480px) {
  section.hero {
    overflow: hidden;
  }
  section.hero .container {
    position: relative;
  }
  section.hero .container .hero__left {
    position: relative;
    z-index: 2;
    margin: 2rem 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #fff;
  }
  section.hero .container .hero__left .hero__precapt {
    font-weight: 900;
    font-size: 16px;
    text-align: center;
  }
  section.hero .container .hero__left h1 {
    text-align: center;
  }
  section.hero .container .hero__left p {
    color: #000;
    font-size: 14px;
    line-height: 18px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #fff;
    padding: 10px;
  }
  section.hero .container .hero__left .hero__props {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 12px;
  }
  section.hero .container .hero__left .hero__props .prop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50% - 6px);
    flex: 0 0 calc(50% - 6px);
  }
  section.hero .container .hero__left .hero__props .prop .prop__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 900;
    color: #000;
  }
  section.hero .container .hero__left .hero__props .prop .prop__number span {
    color: #ca4e5d;
  }
  section.hero .container .hero__left .hero__props .prop h3 {
    margin: 0;
    font-weight: 900;
    text-align: center;
  }
  section.hero .container .hero__left .hero__props .prop > span {
    font-size: 1.3rem;
    color: #000;
    text-align: center;
  }
  section.hero .container .hero__left .hero__props .prop > span > span {
    font-weight: 900;
  }
  section.hero .container .hero__right {
    position: absolute;
    z-index: 1;
    width: 150%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  section.hero .container .hero__right picture img {
    max-width: unset;
  }
}
@media (min-width: 768px) {
  section.hero .container .hero__left .hero__props {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  section.hero .container .hero__left .hero__props .prop {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(33% - 6px);
    flex: 0 0 calc(33% - 6px);
  }
  section.hero .container .hero__left .hero__props .prop > span {
    font-size: 1.1rem;
  }
  section.hero .container .hero__right {
    left: 55%;
  }
}
@media (min-width: 992px) {
  section.hero .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  section.hero .container .hero__left {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  section.hero .container .hero__left .hero__props {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  section.hero .container .hero__right {
    position: relative;
    width: 464px;
    height: auto;
    max-height: 700px;
    left: unset;
    top: unset;
    -webkit-transform: unset;
    transform: unset;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
@media (min-width: 1280px) {
  section.hero .container .hero__left {
    background: #fff;
  }
  section.hero .container .hero__left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    background: #fff;
  }
  section.hero .container .hero__right picture {
    overflow: hidden;
  }
  section.hero .container .hero__right picture img {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}
@media (min-width: 1440px) {
  section.hero .container .hero__left {
    padding: 0 30px;
  }
  section.hero .container .hero__left .hero__props .prop {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50% - 6px);
    flex: 0 0 calc(50% - 6px);
  }
}