@import "../../../../scss/style";
ul {
	&.header__menu {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 4px;
		justify-content: center;
		list-style: none;
		padding: 0 60px;
		li {
			a {
				text-decoration: none;
				font-size: 18px;
				color: $white;
				@include transition-default;
				&.selected {
					font-weight: 600;
				}
			}
		}
		@include media-up(large) {
			flex-direction: row;
			gap: 2px;
			justify-content: flex-start;
			align-items: flex-end;
			list-style: none;
			padding: 0;
			li {
				height: calc(100% - 1px);
				a {
					display: flex;
					align-items: center;
					height: calc(100% - 1px);
					padding: 0 16px;
					font-size: 16px;
					background: rgba($black, .1);
					border: 1px solid rgba($black, .2);
					border-bottom: none;
					transform: translateY(-1px);
					&.selected {
						font-weight: 300;
						background: $white;
						color: $dirty_blue;
					}
					&:hover {
						background: $black;
						transform: translateY(-4px);
						&.selected {
							background: $light_gray;
						}
					}
				}
			}
		}
	}
}