/* colors*/
/* breakpoints*/
/* 480   small*/
/* 768   medium*/
/* 992   xmedium*/
/* 1024  large*/
/* 1280  xlarge*/
/* 1440  xxlarge*/
/* 1920  big*/
/* links*/
/* flex mixes*/
/* default transitions */
/* shadows */
.listing {
  margin-bottom: 20px;
}
.listing .container .list__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 40px;
}
.listing .container .list__blocks .block {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.listing .container .list__blocks .block h2 {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.listing .container .list__blocks:hover .block {
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.listing .container .list__blocks:hover .block:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.listing .container .list__blocks:hover .block:hover h2 {
  color: #000;
}
.listing .container .list__blocks .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(50% - 20px);
  flex: 0 0 calc(50% - 20px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 1023.98px) {
  .listing .container .list__blocks .block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
.listing .container .list__blocks .block .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}
.listing .container .list__blocks .block .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4px;
}
.listing .container .list__blocks .block .list .item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  position: relative;
}
.listing .container .list__blocks .block .list .item > a .day {
  background: #000;
  border-radius: 0 0 4px 4px;
  color: #fff;
  font-weight: 700;
  width: 68px;
  min-width: 68px;
  padding: 12px 8px 8px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
}
.listing .container .list__blocks .block .list .item > a .day:before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  top: -2px;
  left: 0;
  right: 0;
  height: 8px;
  border: 1px solid #000;
  border-radius: 4px 4px 0 0;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.listing .container .list__blocks .block .list .item > a .day .day__header {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.listing .container .list__blocks .block .list .item > a .day .day__header:before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  top: -6px;
  right: 15%;
  width: 4px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.listing .container .list__blocks .block .list .item > a .day .day__header:after {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  top: -6px;
  left: 15%;
  width: 4px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.listing .container .list__blocks .block .list .item > a .day .day__body {
  font-size: 24px;
  line-height: 24px;
}
.listing .container .list__blocks .block .list .item > a .day .day__footer {
  font-size: 9px;
  line-height: 9px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 6px;
}
.listing .container .list__blocks .block .list .item > a .day .day__footer .day__year {
  font-size: 14px;
  margin-bottom: 4px;
}
.listing .container .list__blocks .block .list .item > a:hover .day {
  background: #ca4e5d;
  -webkit-box-shadow: 0px 0px 20px 4px rgba(202, 78, 93, 0.3);
  box-shadow: 0px 0px 20px 4px rgba(202, 78, 93, 0.3);
}
.listing .container .list__blocks .block .list .item > a:hover .day:before {
  border-color: #ca4e5d;
}
.listing .container .list__blocks .block .list .item > a:hover .day .day__header:before, .listing .container .list__blocks .block .list .item > a:hover .day .day__header:after {
  border-color: #ca4e5d;
}
.listing .container .list__blocks .block .list .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
}
.listing .container .list__blocks .block .list .item .info .announce {
  font-size: 14px;
  line-height: 18px;
}
.listing .container .list__blocks .block .list .item .info a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  font-size: 13px;
  padding: 6px 12px;
  /*@include btn();*/
  background-color: #ca4e5d;
  border-color: #ca4e5d;
  color: #fff;
  text-decoration: none;
}
.listing .container .list__blocks .block .list .item .info a:hover {
  /*@include btn();*/
  background-color: #000;
  border-color: #000;
  color: #fff;
}