@import "../../../../scss/style";
.navbar {
	.navbar-brand {
		padding-top: 0;
		padding-bottom: 0;
		margin: 0;
		&.navbar-light {
			font-weight: 900;
		}
	}
}
.menu-icon {
	cursor: pointer;
	padding-left: 10px;
	position: relative;
	margin-left: -12.5px;
	width: 25px;
	-webkit-box-ordinal-group: 4;
	    -ms-flex-order: 3;
	        order: 3;
	span {
		display: block;
		background: $black_01;
		height: 5px;
		width: 5px;
		-webkit-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
		&:before {
			content: '';
			display: block;
			background: $black_01;
			height: 5px;
			position: relative;
			right: -10px;
			width: 5px;
			-webkit-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
		}
		&:after {
			content: '';
			display: block;
			background: $black_01;
			height: 5px;
			position: relative;
			left: -10px;
			top: -5px;
			width: 5px;
			-webkit-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
		}
		&:nth-child(2) {
			margin: 5px 0;
		}
	}
	&:hover {
		span {
			&:nth-child(2) {
				margin: 7px 0;
			}
			&:before {
				right: -12px;
			}
			&:after {
				left: -12px;
			}
		}
	}
	@include media-up(large) {
		display: none;
	}
}

.overlay-menu {
	position: fixed;
	height: 100%;
	visibility: hidden;
	width: 100%;
	z-index: 5;
	&.opened {
		visibility: visible;
		&:after {
			bottom: 0;
		}
		.navbar {
			opacity: 1;
			visibility: visible;
			-webkit-transition-delay: .5s;
					transition-delay: .5s;
		}
		footer {
			opacity: 1;
			margin: 0 0 50px;
			-webkit-transition-delay: 1s;
					transition-delay: 1s;
			.end__footer {
				color: $white;
			}
		}
		.vertical-menu li {
			opacity: 1;
			bottom: 0;
			&:nth-child(1n) {
				-webkit-transition-delay: 0.2s;
						transition-delay: 0.2s;
			}
			&:nth-child(2n) {
				-webkit-transition-delay: 0.4s;
						transition-delay: 0.4s;
			}
			&:nth-child(3n) {
				-webkit-transition-delay: 0.6s;
						transition-delay: 0.6s;
			}
			&:nth-child(4n) {
				-webkit-transition-delay: 0.8s;
						transition-delay: 0.8s;
			}
			&:nth-child(5n) {
				-webkit-transition-delay: 1s;
						transition-delay: 1s;
			}
			&:nth-child(6n) {
				-webkit-transition-delay: 1.2s;
						transition-delay: 1.2s;
			}
			&:nth-child(7n) {
				-webkit-transition-delay: 1.4s;
						transition-delay: 1.4s;
			}
			&:nth-child(8n) {
				-webkit-transition-delay: 1.6s;
						transition-delay: 1.6s;
			}
			&:nth-child(9n) {
				-webkit-transition-delay: 1.8s;
						transition-delay: 1.8s;
			}
			&:nth-child(10n) {
				-webkit-transition-delay: 2s;
						transition-delay: 2s;
			}
		}
	}
	&:after {
		content: '';
		background: $black_01;
		bottom: -100%;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 5;
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	.navbar {
		opacity: 0;
		visibility: hidden;
		width: 100%;
		z-index: 6;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	.close-icon {
		color: $white;
		font-size: 30px;
		cursor: pointer;
		position: relative;
	}
	footer {
		opacity: 0;
		width: 100%;
		margin: 0 0 40px;
		z-index: 6;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.vertical-menu {
		list-style: none;
		padding: 0 24px;
		margin: 0;
		text-align: center;
		width: 100%;
		z-index: 6;
		li {
			padding: 4px 0;
			position: relative;
			list-style: none;
			opacity: 0;
			bottom: -10px;
			-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			text-align: left;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			.switch {
				display: inline-block;
				padding: 0;
				line-height: 1;
				cursor: pointer;
				color: $white;
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				-webkit-backface-visibility: hidden;
			}
			&.openmenu,
			.openmenu {
				& > a {
					color: $white;
				}
				& > .switch {
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
				}
			}
			a {
				color: $white;
				font-family: "Montserrat", sans-serif;
				font-size: 40px;
				font-weight: 700;
				width: 100%;
				text-decoration: none;
				position: relative;
				-webkit-box-flex: 0;
				    -ms-flex: 0 0 calc(100% - 62px);
				        flex: 0 0 calc(100% - 62px);
				&:after {
					content: '';
					background: $white;
					width: 0;
					height: 5px;
					left: 0;
					bottom: -10px;
					position: absolute;
					-webkit-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
				}
				&:hover {
					&:after {
						width: 100%;
						height: 5px;
					}
				}
				&:hover {
					color: $white;
				}
			}
		}
	}
	.submenu {
		display: none;
		padding: 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
		li {
			a {
				color: $white;
				font-size: 18px;
				font-weight: 700;
				&:after {
					height: 3px;
				}
				&:hover {
					color: $white;
					&:after {
						width: 100%;
						height: 3px;
					}
				}
			}
		}
	}
	@include media-down(large) {
		&.opened {
			&:after {
			}
			.navbar {
			}
			footer {
			}
			.vertical-menu li {
				&:nth-child(1n) {
				}
				&:nth-child(2n) {
				}
				&:nth-child(3n) {
				}
				&:nth-child(4n) {
				}
				&:nth-child(5n) {
				}
				&:nth-child(6n) {
				}
				&:nth-child(7n) {
				}
				&:nth-child(8n) {
				}
				&:nth-child(9n) {
				}
				&:nth-child(10n) {
				}
			}
		}
		&:after {
		}
		.navbar {
			.header__menu {
				display: none;
			}
		}
		.close-icon {
		}
		footer {
		}
		.vertical-menu {
			li {
				.openmenu {
					& > a {
					}
					& > .switch {
					}
				}
				.switch {
				}
				a {
					font-size: 26px;
					&:after {
					}
					&:hover {
						&:after {
						}
					}
					&:hover {
					}
				}
			}
		}
		.submenu {
			li {
				a {
					&:after {
					}
					&:hover {
						&:after {
						}
					}
				}
			}
		}
	}
}