/* 480   small*/
/* 768   medium*/
/* 992   xmedium*/
/* 1024  large*/
/* 1280  xlarge*/
/* 1440  xxlarge*/
/* 1920  big*/

@mixin mobile-only() {
	@include media-between(zero, medium) {
		@content;
	}
}

@mixin tablet-only() {
	@include media-between(medium, large) {
		@content;
	}
}

@mixin desktop-only() {
	@include media-up(xlarge) {
		@content;
	}
}

@mixin transition-default() {
	transition: all .3s ease-in;
	svg {
		path {
			transition: all .3s ease-in;
		}
	}
	&:hover {
		transition: all .3s ease-in;
		svg {
			path {
				transition: all .3s ease-in;
			}
		}
	}
}

@mixin infinity-background() {
	&:before,
	&:after {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		width: 1000%;
		background: inherit;
	}
	&:before {
		right: 100%;
	}
	&:after {
		left: 100%;
	}
}

@mixin btn() {
	display: inline-block;
	border-radius: 6px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	padding: 0.8em;
	text-decoration: none;
	line-height: 1.25;
	font-weight: 500;
	font-size: 16px;
}

@mixin btn-small() {
	border-radius: 4px;
	font-size: 13px;
	padding: 6px 12px;
}

@mixin btn-color-default($color) {
	/*@include btn();*/

	background-color: $color;
	border-color: $color;
	color: $white;
}

@mixin btn-color-outline($color) {
	/*@include btn();*/

	background-color: $white;
	border-color: $color;
	color: $color;
}

@mixin default-btn($color) {
	@include btn();
	@include btn-color-default($color);

	&:hover,
	.active {
		@include btn-color-outline($color);
	}
}

@mixin outline-btn($color) {
	@include btn();
	@include btn-color-outline($color);

	&:hover,
	.active {
		@include btn-color-default($color);
	}
}

@mixin light-green-btn() {
	@include btn();

	background-color: $light_green;
	border-color: $light_green;
	color: $green;

	&:hover,
	.active {
		background-color: $green;
		border-color: $green;
		color: $white;
	}
}

/* links*/
@mixin default-link() {
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

@mixin inverted-link() {
	cursor: pointer;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/* flex mixes*/
@mixin vertical-center-row() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@mixin horizontal-center-row() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@mixin vertical-horizontal-center-row() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* default transitions */
@mixin default-transition() {
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
@mixin half-second-transition() {
	-webkit-transition: all .5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/* shadows */
@mixin default-shadow($color) {
	-webkit-box-shadow: 0px 0px 15px 2px rgba($color, 0.05);
	        box-shadow: 0px 0px 15px 2px rgba($color, 0.05);
}