/* colors*/
/* breakpoints*/
/* 480   small*/
/* 768   medium*/
/* 992   xmedium*/
/* 1024  large*/
/* 1280  xlarge*/
/* 1440  xxlarge*/
/* 1920  big*/
/* links*/
/* flex mixes*/
/* default transitions */
/* shadows */