/* colors*/
/* breakpoints*/
/* 480   small*/
/* 768   medium*/
/* 992   xmedium*/
/* 1024  large*/
/* 1280  xlarge*/
/* 1440  xxlarge*/
/* 1920  big*/
/* links*/
/* flex mixes*/
/* default transitions */
/* shadows */
#preloader {
  display: none;
}

section.product .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}
section.product .container .product__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 6px;
}
section.product .container .product__left picture {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.05);
}
section.product .container .product__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 6px;
}
section.product .container .product__right h2 {
  margin: 0;
}
section.product .container .product__right .article .props__line {
  font-weight: 700;
}
section.product .container .product__right .article .props__line span {
  font-weight: 400;
}
section.product .container .product__right .prop__block .prop__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4px;
  font-weight: 700;
}
section.product .container .product__right .prop__block .prop__line .prop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1px;
}
section.product .container .product__right .prop__block .prop__line .prop__container a,
section.product .container .product__right .prop__block .prop__line .prop__container span {
  width: 50px;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
section.product .container .product__right .prop__block .prop__line .prop__container a.active,
section.product .container .product__right .prop__block .prop__line .prop__container span.active {
  display: inline-block;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  padding: 0.8em;
  text-decoration: none;
  line-height: 1.25;
  font-weight: 500;
  font-size: 16px;
  /*@include btn();*/
  background-color: #ca4e5d;
  border-color: #ca4e5d;
  color: #fff;
  border-radius: 4px;
  font-size: 13px;
  padding: 6px 12px;
}
section.product .container .product__right .prop__block .prop__line .prop__container a.active:hover,
section.product .container .product__right .prop__block .prop__line .prop__container a.active .active,
section.product .container .product__right .prop__block .prop__line .prop__container span.active:hover,
section.product .container .product__right .prop__block .prop__line .prop__container span.active .active {
  /*@include btn();*/
  background-color: #fff;
  border-color: #ca4e5d;
  color: #ca4e5d;
}
section.product .container .product__right .prop__block .prop__line .prop__container a.active:hover,
section.product .container .product__right .prop__block .prop__line .prop__container span.active:hover {
  /*@include btn();*/
  background-color: #ca4e5d;
  border-color: #ca4e5d;
  color: #fff;
}
section.product .container .product__right .prop__block .prop__line .prop__container a:not(.active),
section.product .container .product__right .prop__block .prop__line .prop__container span:not(.active) {
  display: inline-block;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  padding: 0.8em;
  text-decoration: none;
  line-height: 1.25;
  font-weight: 500;
  font-size: 16px;
  /*@include btn();*/
  background-color: #fff;
  border-color: #ca4e5d;
  color: #ca4e5d;
  border-radius: 4px;
  font-size: 13px;
  padding: 6px 12px;
  color: #000;
}
section.product .container .product__right .prop__block .prop__line .prop__container a:not(.active):hover,
section.product .container .product__right .prop__block .prop__line .prop__container a:not(.active) .active,
section.product .container .product__right .prop__block .prop__line .prop__container span:not(.active):hover,
section.product .container .product__right .prop__block .prop__line .prop__container span:not(.active) .active {
  /*@include btn();*/
  background-color: #ca4e5d;
  border-color: #ca4e5d;
  color: #fff;
}
section.product .container .product__right .prop__block.width__unset .prop__line .prop__container a,
section.product .container .product__right .prop__block.width__unset .prop__line .prop__container span {
  width: auto;
}
section.product .container .product__right .technical {
  display: none;
}
section.product .container .product__technical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}
section.product .container .product__technical h2 {
  margin: 0;
}
section.product .container .product__technical .product__table {
  font-size: 12px;
  line-height: 16px;
}
section.product .container .product__technical .product__table .product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
section.product .container .product__technical .product__table .product__row:last-child {
  border-bottom: unset;
}
section.product .container .product__technical .product__table .product__row > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
section.product .container .product__technical .product__table .product__row .product__col {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}
section.product .container .product__technical .product__table .product__row .product__col.product__name {
  font-weight: 700;
}
section.product .container .product__technical .product__table .product__row .product__col.product__value {
  color: #ca4e5d;
}
section.product .container .catalog__gallery .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
section.product .container .catalog__gallery .owl-nav button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #ca4e5d;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}
section.product .container .catalog__gallery .owl-nav button.owl-prev, section.product .container .catalog__gallery .owl-nav button.owl-next {
  position: relative;
  z-index: 1;
}
section.product .container .catalog__gallery .owl-nav button.owl-prev:before, section.product .container .catalog__gallery .owl-nav button.owl-next:before {
  content: "";
  position: absolute;
  top: 0;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
}
section.product .container .catalog__gallery .owl-nav button.owl-prev:before {
  left: 0;
  border-left: 5px solid #fff;
}
section.product .container .catalog__gallery .owl-nav button.owl-prev span {
  margin-top: -2px;
}
section.product .container .catalog__gallery .owl-nav button.owl-next:before {
  right: 0;
  border-right: 5px solid #fff;
}
section.product .container .catalog__gallery .owl-nav button.owl-next span {
  margin-top: -2px;
}
section.product .container .catalog__gallery .owl-nav button:focus {
  outline: none;
}
@media (min-width: 424px) {
  section.product .container .product__right {
    gap: 10px;
  }
  section.product .container .product__technical .product__table {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 600px) {
  section.product .container .product__right .prop__block .prop__line .prop__container a,
  section.product .container .product__right .prop__block .prop__line .prop__container span {
    width: 55px;
  }
  section.product .container .product__right .prop__block .prop__line .prop__container a.active,
  section.product .container .product__right .prop__block .prop__line .prop__container span.active {
    font-size: 14px;
  }
  section.product .container .product__right .prop__block .prop__line .prop__container a:not(.active),
  section.product .container .product__right .prop__block .prop__line .prop__container span:not(.active) {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  section.product .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 22px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  section.product .container .product__left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50% - 11px);
    flex: 0 0 calc(50% - 11px);
  }
  section.product .container .product__right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50% - 11px);
    flex: 0 0 calc(50% - 11px);
    gap: 14px;
    font-size: 18px;
  }
  section.product .container .product__right .prop__block .prop__line {
    gap: 6px;
  }
  section.product .container .product__right .prop__block .prop__line .prop__container a,
  section.product .container .product__right .prop__block .prop__line .prop__container span {
    width: 54px;
  }
  section.product .container .product__right .prop__block .prop__line .prop__container a.active,
  section.product .container .product__right .prop__block .prop__line .prop__container span.active {
    font-size: 15px;
  }
  section.product .container .product__right .prop__block .prop__line .prop__container a:not(.active),
  section.product .container .product__right .prop__block .prop__line .prop__container span:not(.active) {
    font-size: 15px;
  }
  section.product .container .product__technical {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  section.product .container .product__technical .product__table {
    font-size: 18px;
    line-height: 22px;
  }
  section.product .container .catalog__gallery .owl-nav button {
    width: 40px;
    height: 40px;
    font-size: 26px;
    line-height: 26px;
  }
  section.product .container .catalog__gallery .owl-nav button.owl-prev:before, section.product .container .catalog__gallery .owl-nav button.owl-next:before {
    border: 11px solid transparent;
    border-top: 11px solid #fff;
  }
  section.product .container .catalog__gallery .owl-nav button.owl-prev:before {
    border-left: 11px solid #fff;
  }
  section.product .container .catalog__gallery .owl-nav button.owl-prev span {
    margin-top: -3px;
  }
  section.product .container .catalog__gallery .owl-nav button.owl-next:before {
    border-right: 11px solid #fff;
  }
  section.product .container .catalog__gallery .owl-nav button.owl-next span {
    margin-top: -3px;
  }
}
@media (min-width: 992px) {
  section.product .container .product__left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(40% - 11px);
    flex: 0 0 calc(40% - 11px);
  }
  section.product .container .product__right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(60% - 11px);
    flex: 0 0 calc(60% - 11px);
  }
  section.product .container .product__right .prop__block .prop__line .prop__container a,
  section.product .container .product__right .prop__block .prop__line .prop__container span {
    width: 59px;
  }
}
@media (min-width: 1280px) {
  section.product .container .product__left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 444px;
    flex: 0 0 444px;
  }
  section.product .container .product__right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 466px);
    flex: 0 0 calc(100% - 466px);
  }
  section.product .container .product__right .prop__block .prop__line .prop__container a,
  section.product .container .product__right .prop__block .prop__line .prop__container span {
    width: 57px;
  }
  section.product .container .catalog__gallery .owl-nav button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 30px;
  }
  section.product .container .catalog__gallery .owl-nav button.owl-prev span {
    margin-top: -4px;
  }
  section.product .container .catalog__gallery .owl-nav button.owl-next span {
    margin-top: -4px;
  }
}
@media (min-width: 1880px) {
  section.product .container .catalog__gallery .owl-nav button {
    width: 60px;
    height: 60px;
    font-size: 35px;
    line-height: 35px;
  }
  section.product .container .catalog__gallery .owl-nav button.owl-prev:before, section.product .container .catalog__gallery .owl-nav button.owl-next:before {
    border: 14px solid transparent;
    border-top: 14px solid #fff;
  }
  section.product .container .catalog__gallery .owl-nav button.owl-prev:before {
    border-left: 14px solid #fff;
  }
  section.product .container .catalog__gallery .owl-nav button.owl-prev span {
    margin-top: -5px;
  }
  section.product .container .catalog__gallery .owl-nav button.owl-next:before {
    border-right: 14px solid #fff;
  }
  section.product .container .catalog__gallery .owl-nav button.owl-next span {
    margin-top: -5px;
  }
}
.backlink__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
}