/* colors*/
/* breakpoints*/
/* 480   small*/
/* 768   medium*/
/* 992   xmedium*/
/* 1024  large*/
/* 1280  xlarge*/
/* 1440  xxlarge*/
/* 1920  big*/
/* links*/
/* flex mixes*/
/* default transitions */
/* shadows */
.container .bx-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  gap: 12px;
  margin: 8px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.container .bx-breadcrumb .bx-breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 12px;
}
.container .bx-breadcrumb .bx-breadcrumb-item i.fa {
  line-height: 140%;
}
@media (min-width: 1024px) {
  .container {
    -ms-flex-wrap: unset;
    flex-wrap: unset;
  }
}